.cart-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #fafafa;
}

.cart-image {
    width: 50px;
}

.cart-remove-btn{
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease;
    background-color: #333;
    color: white;
}

/* Hover general */
.cart-remove-btn:hover {
    background-color: #000;
}

/* Bot칩n eliminar (rojo sutil) */
.cart-remove-btn {
    background-color: #d9534f;
}

.cart-remove-btn:hover {
    background-color: #b52b27;
}

/* Bot칩n deshabilitado (si lo us치s m치s adelante) */
.cart-remove-btn:disabled {
    background-color: #999;
    cursor: not-allowed;
}