.notfound-container {
  padding: 40px;
  text-align: center;
}

.notfound-code {
  font-size: 80px;
  margin-bottom: 10px;
  color: #585758;
}

.notfound-title {
  margin-bottom: 10px;
}

.notfound-text {
  margin-bottom: 20px;
  color: #666;
}

.notfound-link {
  padding: 10px 20px;
  background-color: #585758;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.notfound-link:hover {
  background-color: #3f3e3f;
}