@charset "UTF-8";

h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.galeria {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
}

@media (max-width: 990px) {
  .galeria {
    flex-direction: column;
    align-items: center;
  }
}
